/* 
--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WEIGHTS
Default: 400

LINE HEIGHTS
Default: 1

--- 02 COLORS

Primary: #a61e4d
Tints: #f6e9ed
Shades: #951b45
Accents:
Greys: #555, #333

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.section-hero {
  background-color: #f6e9ed;
  padding: 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;

  max-width: 130rem;
  margin: 0 auto;
  height: 57rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

}

.hero-img-box {
  position: relative;
}

.hero-img {
  position: absolute;
  width: 25%;
}
